body {
  margin: 0px;
  padding: 0px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.header {
  background-color: #ffc266;
  padding: 23px;
}

.header h1 {
  margin: 0px;
  color: white;
  padding-left: 50px;
  display: inline;
}

.header h3 {
  display: inline;
  float: right;
  padding-right: 50px;
  color: white;
}

.header img {
  height: 42px;
  padding-left: 12px;
  margin-bottom: -12px;
}

.add-item {
  margin-top: 45px;
  border-radius: 2px;
  border-top: 3px solid #ffc266;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 8px 18px 28px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;
  width: 25%;
  margin-right: auto;
  text-align: center;
}

.add-item form {
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 22px;
  color: black;
  background-color: white;
  padding: 18px 0px 18px 0px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 100%;
  text-align: center;
}

form button {
  width: 100%;
  margin-top: 10px;
}

button {
  border-radius: 2px;
  min-width: 88px;
  background-color: #A9A9A9;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.display-item {
  width: 65%;
  margin-left: 50px;
}

.display-item button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  width: calc(50% - 50px);
  list-style-type: none;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 30px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}

li h3 {
  background-color: #ffc266;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}

.deletebtn {
  margin-top: 25px;
}
